body {font-family: 'Oswald', sans-serif;
font-family: 'Playfair Display', serif;
font-family: 'Shippori Mincho B1', serif;
padding: 0px;
margin: 0px;
}

#hrtop{
    border-top: 7px #530030 dotted;
    margin: 0;
    background-color: #FE6A40;
    border-bottom: 0px;
    opacity: 100;
}
#hrbot{
    border-bottom: 7px #FE6A40 dotted;
    margin:0;
    background-color: #530030;
    border-top: 0px;
    opacity: 100;
}

#hrbotrev{
    border-top: 7px #530030 dotted;
    margin: 0;
    background-color: #FE6A40;
    border-bottom: 0px;
    opacity: 100;
}
#hrtoprev{
    border-bottom: 7px #FE6A40 dotted;
    margin:0;
    background-color: #530030;
    border-top: 0px;
    opacity: 100;
}


/** HEADER **/

header{
    
    padding: 0px;
    margin: 0px;
}

.logo-bar{
    margin: 0px;
    padding: 0px;
    border: 0px;
    height: 130px;
}

#logo {
    width: 250px;
    margin: 5px;
    display: inline;
    position: absolute;
    right: 50%;
    left: 45%;
    margin-top: 25px;
    z-index: 10;
    
}

#logo-bg{
    width:100%;
    height: 130px;
    margin: 5px;
    display: inline;
    z-index: 0;
    margin: 0;
    padding: 0;
    background-image: radial-gradient(circle, rgba(254,106,64,1) 16%, rgba(0,212,255,0) 100%);

}

.header-anchors{
    display: block;
    text-align:center;
    right: 50%;
    left: 50%;
    padding: 30px;
    background-color: #FE6A40;
    margin: 0px;
}

.header-anchors > a{
    padding: 5px;
    color:#530030;
    font-weight: 1000;
    padding-top: 30px;
    padding-bottom: 30px;
    padding-right: 10px;
    padding-left: 10px;
    transition: 0.3s;
    text-decoration: none;
}

.header-anchors > a:hover{
    background-color: #530030;
    color: #FE6A40;
    transition: 0.333s;
}

/** HEADER END **/


/** COFFEE MENU **/

.coffee-menu{
    background-color: #530030;
    padding-top: 30px;
}

.coffee-menu > h1,p{
    text-align: center;
    color: #FE6A40;
}

.coffee-menu > h1{
    margin-top: 0px;
}

.tdimg{
    width: 200px;
}

.tdimg:hover{
    width: 250px;
    transition: 0.3s;
}

#table{
    margin-left: auto;
    margin-right: auto;
}



/** COFFEE MENU END **/

/** MERCHANDISE CAROUSSEL **/

.merch-menu{
    background-color: #FE6A40;
}

.merch-menu > h1,p{
    color:#530030;
    text-align: center;
}

#mugnigga{  
    height: 100px;
}

/** Merch end **/

/** aughh */

.nwslaves{
    background-color: #530030;
    text-align: center;
}

.nwslaves > h1, p{
    color: #FE6A40;
}

.nwslaves > img{
    width: 300px;
}

/** FOOTER **/

body{
    margin:0;
    overflow-x:hidden;
    }
    
    .footer{
    background:#530030;
    padding:30px 0px;
    font-family: 'Play', sans-serif;
    text-align:center;
    }
    
    .footer .row{
    width:100%;
    margin:1% 0%;
    padding:0.6% 0%;
    color:gray;
    font-size:0.8em;
    display: inline;
    
    }
    
    .footer .row a{
    text-decoration:none;
    color:#FE6A40;
    transition:0.3s;
    }
    
    .footer .row a:hover{
    color:#fff;
    }
    
    .footer .row ul{
    width:100%;
    margin-top: 10px;
    }
    
    .footer .row ul li{
    display:inline-block;
    margin:0px 30px;
    }
    
    .footer .row a i{
    font-size:2em;
    margin:0% 1%;
    }
    
    @media (max-width:720px){
    .footer{
    text-align:left;
    padding:5%;
    }
    .footer .row ul li{
    display:block;
    margin:10px 0px;
    text-align:left;
    }
    .footer .row a i{
    margin:0% 3%;
    }
    }
    